<h1>トップ</h1>

<div class="container">
  <div class="row">


           <%= image_tag 'top.PNG' %>


    
    <div class="col-xs-12">
      <p>ここで日々の出来事を書いていきます。 <br>
    <%= link_to '投稿一覧', pictures_path, class: 'btn btn-default' %>
      </p>
    </div>
  </div>
</div>