  <h2>記事を投稿</h2>
<div class="container">
   <div class="picture-details">
  <%= render 'form' %>
  
     </div>

   <div class="picture-links">
     <%= link_to '一覧へ戻る', pictures_path, class: 'btn btn-default' %>
   </div>
</div>
